/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variables */

:root {
    --dark: #0E0905;
}



/* Main Styles */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
}



.container-fluid {
    padding: 3% 15%;
}




/* //navbar */

.navbar {
    padding: .75rem 4.5rem;
    background-color: var(--dark);
    position: fixed;
    width: 100%;
    z-index: 1;

}

.navbar-brand {
    width: 200px;
}

navbar-custom {
    background-color: var(--dark);
}

.nav-item {
    margin: 0 10px;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

/* Header */
.header {
    min-height: 60vh;
    background: url('../img/header-img.png') no-repeat center;
    background-size: cover;
    text-align: center;
}

.fa-angle-double-down {
    color: #fff;
    position: relative;
    top: 300px;
}

/* About Section */

.about {
    text-align: center;

}

h1 {
    font-family: "Abolition";
    text-decoration: underline;
    letter-spacing: 1px;
}



.title {
    margin-bottom: 3rem;
}


/* Carousel */
h3 {
    font-family: "Abolition";
    letter-spacing: 1px;
}

.carousel-item {
    height: 45vh;

}

.intrepid-img {
    width: 20%;
    border-top: solid rgb(255, 208, 0) 8px;
    border-radius: 3px;
}

.soap-img {
    width: 20%;
}

.about-copy {
    width: 50%;
    max-width: 800px;
    margin: auto;
    text-align: left;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

/* Demos Section */

.demos {
    background-color: #0E0905;
    text-align: center;
}

.white-title {
    color: #fff;
}

#demo-title {
    margin-bottom: 2rem;
}

.vid-section {
    text-align: center;
}

.vid-container {
    border: 1px solid rgba(255, 208, 0, 1);
}

.embed-responsive {
    margin-bottom: 2rem;
}

/* Contact Form */

.contact {
    min-height: 65vh;
    background: linear-gradient(#fed700, transparent 90%), linear-gradient(0deg, #fff, transparent), url('../img/bottom-header.png') no-repeat center;
    text-align: center;
}

form {
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;
    text-align: left;
    background-color: #e1e1e1;
    border-radius: 5px;
}



label {
    padding: 0 .25rem;
}

/* Footer */

footer {
    height: 10vh;
    background-color: var(--dark);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;

}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 1;
}

.copyright {
    margin: 0;
}

.social {
    display: flex;
}

.social a {
    margin-left: 15px;
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #333;
    border-radius: 50%;
    font-size: 16px;
    color: #666;
    transition: .5s;
}

.social a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.social a:hover:before {
    transform: scale(1.1);
    box-shadow: 0 0 25px #ffee10;
}

.social a:hover {
    color: #ffee10;
    box-shadow: 0 0 10px #ffee10;
    text-shadow: 0 0 10px #ffee10;
}





/* Media Queries  */

@media(max-width: 1290px) {
    .container-fluid {
        padding: 3% 5%;
    }
}

@media(max-width: 1078px) {
    .about-copy {
        width: 55%;
        max-width: 1100px;
    }


    h1 {
        font-size: 2rem;
    }

    .container-fluid {
        padding: 3%
    }

    body {
        font-size: 1rem;
    }
}

@media(max-width: 768px) {

    .carousel-item {
        height: 50vh;
    }

    .navbar {
        padding: .75rem 2rem;
    }

    .navbar-brand {
        width: 150px;
    }

    .intrepid-img {
        width: 200px;
    }

    .soap-img {
        width: 200px;
    }
}

@media(max-width: 568px) {
    .container-fluid {
        padding: 2%
    }

    .body {
        font-size: .75rem;
    }

    .header {
        min-height: 40vh;
    }

    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    .title {
        margin-bottom: 1rem;
    }

    .about-copy {
        width: 70%;
    }

    footer {
        flex-direction: column;
        padding: 5rem;
    }


    .company {
        margin-bottom: 1rem;
    }

    .company p {
        font-size: .75rem;
    }

    .carousel-item {
        height: 60vh;
    }



}

@media(max-width: 450px) {
    .carousel-item {
        height: 70vh;
    }
}

@media(max-width: 398px) {
    .carousel-item {
        height: 80vh;
    }

    footer {
        padding: 4rem;
    }
}

@media(max-height: 785px) {
    .carousel-item {
        height: 50vh;
    }
}

@media(max-height: 568px) {
    .carousel-item {
        height: 90vh;
    }
}